* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto'
}

#section-1 {
    background-color: #1F2937;
    padding: 15px 200px 75px;
}

#section-1 nav {
    display: flex;
    justify-content: space-between;
}

#section-1 nav div {
    display: flex;
    gap: 40px;
}

#section-1 nav p, #section-1 p {
    color: #E5E7EB;
    font-size: 18px;
}

#section-1 nav #logo {
    font-size: 24px;
    color: #F9FAF8
}

#section-1 .content {
    margin: 70px 0; 
}

#section-1 h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

#section-1 .content {
    display: flex;
    justify-content: space-between;
}

#section-1 .content .img {
    height: 200px;
    width: 50%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-text {
    width: 40%;
    flex: 0 1 auto;
}

#hero-text h1, #hero-text p, #hero-text button {
    margin-bottom: 10px;    
}

#hero-text button {
    background-color: #3882FC;
    color: #F9FAF8;
    padding: 10px 20px;
}

#section-2 {
    padding: 30px 400px;
}

#section-2 h1 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    margin-bottom: 50px;
}

#section-2 #info-box-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

#section-2 .info-box {
    border: 5px solid #3882FC;
    border-radius: 20px;
    height: 200px;
}

#section-2 #info-box-container p {
    text-align: center;
}